:root {
	--color-light:#0085cf;
	--color-dark:#005582;

	--color-discord-ceo: #e74c3c;
	--color-discord-deputy: #f1c40f;

	--color-social-youtube: #fe3d00;
	--color-social-twitch: #8e24aa;
	--color-social-vk: #0288d1;
	--color-social-discord: #8b9dfe;
	--color-social-steam: #455a64;
	--color-social-vtcpanel: #9c0001;
	

	--font-family: 'Fira Sans', sans-serif;
}

html, body {
	margin: 0;
	font-family: var(--font-family);
	font-size: 20pt;
	font-weight: 100;
}

a { color: var(--color-dark); }

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

sup {
	font-style: italic;
	color: #999;
}

code, cite {
	font-family: 'Fira Mono', monospace;
	border-width: 2px 2px 2px 10px;
	border-style: solid;
	border-color: var(--color-dark);
}

code {
	display: block;
	padding: 1em;
}

cite {
	font-style: normal;
}

article {
	border-width: 2px 2px 2px 10px;
	border-style: solid;
	border-color: var(--color-dark);
	margin-bottom: 1em;
	padding-left: 1ex;
}

.block { display: block; }

.transition {
	transition-timing-function: cubic-bezier(.77,0,.18,1);
	transition-property: all;
	transition-duration: 0.25s;
}

.dreamon-color-light { color: var(--color-light); }
.dreamon-color-dark { color: var(--color-dark); }
.dreamon-title {
	color: var(--color-light);
	font-weight: 400;
}

.discord-role { font-weight: 400; }
.ceo { color: var(--color-discord-ceo); }
.deputy { color: var(--color-discord-deputy); }


game {
	font-style: italic;
	font-weight: 400;
}
.game-icon { height: 24px; }

a.big-button { margin: 0px 25px; position: relative; text-decoration: none; }
a.big-button.youtube { background: var(--color-social-youtube); }
a.big-button.twitch { background: var(--color-social-twitch); }
a.big-button.vk { background: var(--color-social-vk); }
a.big-button.discord { background: var(--color-social-discord); }
a.big-button.steam { background: var(--color-social-steam); }
a.big-button.vtcpanel { background: var(--color-social-vtcpanel); }

a.big-button.opg { background: #fff; }
a.big-button.opg .social-name { color: #000 !important; }
a.big-button.akvilon { background: #c4ff0d; }
a.big-button.akvilon .social-name { color: #000 !important; }
a.big-button.dobriy-action { background: #ff5400; }
a.big-button.sssr { background: #a20403; }



a.big-button:hover {
	margin-bottom: 20px !important;
}

.big-button-list {
	min-height: 320px;
}

.social-name {
	display: block;
	text-align: center;
	font-size: 20pt;
	color: #fff;
	height: 0px;
	overflow: hidden;
}

a.big-button:hover .social-name { height: 40px; }

.fade {
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

section header, section footer {
	color: #fff;
	font-size: 40pt;
	font-weight: 400;
}
section.module .container {
	padding: 10px 10%;
	text-align: justify;
}

section.module.parallax {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section.module.parallax.image { height: 800px; }

section.module.image-1 { background-image: url("images/background/1.jpg"); height: 1000px !important; }
section.module.image-2 { background-image: url("images/background/2.jpg"); }
section.module.image-3 { background-image: url("images/background/4.jpg"); }

section.module.rules-header {
	height: 200px;
	background: #000;
}

.stack {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stack.horisontal { flex-direction: row; }
.stack.vetical { flex-direction: column; }