:root {
    --color-light:#0085cf;
    --color-dark:#005582;

    --color-discord-ceo: #e74c3c;
    --color-discord-vice: #f1c40f;
    --color-discord-logistician: #e90f61;

    --color-social-youtube: #fe3d00;
    --color-social-twitch: #8e24aa;
    --color-social-vk: #0288d1;
    --color-social-discord: #8b9dfe;
    --color-social-steam: #455a64;

    --font-family: 'Fira Sans', sans-serif;
}

html, body {
    margin: 0;
    font-family: var(--font-family);
    font-size: 20pt;
    font-weight: 300;
    line-height: 1.5em;

    height: 100%;
}

body {
    max-width: 1920px;
    margin: auto;
}

#app {
    height: 100vh;
    overflow: auto;
}

p {
    margin-top: 30px;
    margin-bottom: 0px;
}

p:nth-last-child(1) {
    margin-bottom: 30px;
}

a { color: var(--color-dark); }

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block { display: block; }

.max {
    width: 100%;
    height: 100%;
}

.vp-height {
    min-height: 100vh;
}

.snap-y {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.snap-point {
    scroll-snap-align: start;
}

.center-center, .text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition {
    transition-timing-function: cubic-bezier(.77, 0, .18, 1);
    transition-property: all;
    transition-duration: 0.25s;
}

nav {
    position: fixed;
    z-index: 100;
    background: #fff;
    padding: 10px 10px;
    right: 30px;
    top: 10px;
}

nav > a {
    text-decoration: none;
    margin: auto 15px;
}

.dreamon-color-light { color: var(--color-light); }
.dreamon-color-dark { color: var(--color-dark); }
.dreamon-title {
    color: var(--color-light);
    font-weight: 400;
}

.discord-role { font-weight: 400; }
.ceo { color: var(--color-discord-ceo); }
.vice { color: var(--color-discord-vice); }
.logistician { color: var(--color-discord-logistician); }


.game {
    font-style: italic;
    font-weight: 400;
    display: inline-block;
}
.game-icon { height: 24px; }

.cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.card {
    display: flex;
    flex-direction: column;
    margin: /*0px 25px*/ 20px;
    position: relative;
    text-decoration: none;

    /* Google Chrome sucks!!! */
    /* transform: perspective(900px) translateZ(0px) rotateX(0deg) rotateY(0deg); */
    transition: transform 0.5s ease;
}

a.card:hover {
    /* Google Chrome sucks!!! */
    /* transform: translateZ(100px) rotateX(10deg) rotateY(20deg); */
}

a.card.youtube { background: var(--color-social-youtube); }
a.card.twitch { background: var(--color-social-twitch); }
a.card.vk { background: var(--color-social-vk); }
a.card.discord { background: var(--color-social-discord); }
a.card.steam { background: var(--color-social-steam); }

a.card.opg { background: #fff; }
a.card.opg .title { color: #000 !important; }
a.card.dobriy_action { background: #ff5400; }
a.card.skif_cargo { background: #fe0000; }
a.card.fortuna_express { background: #3681c1; }
a.card.flagman { background: #455272; }
a.card.sibir { background: #901d7a; }
a.card.add { background: #262626; }
a.card.nordic_crown { background: #4d61a0; }
a.card.delta { background: #086f39; }
a.card.express_logistic { background: #f27a0f; }

.card-list-wrap {
    /* min-height: 680px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.block-header {
    height: auto !important;
}

.card .title {
    font-size: 20pt;
    color: #fff;
    overflow: hidden;
    margin: 5px auto;
}

.fade {
    background: rgba(0, 0, 0, 0.5);
}

section header, section footer {
    color: #fff;
    font-size: 40pt;
    font-weight: 400;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8)
}
section .container {
    padding: 10px 10%;
    text-align: justify;
    width: 100%;
}
section.text .container {
    background: rgba(255,255,255,0.9);
}

.parallax {
    perspective: 1px;
}

.image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /* min-height: 800px; */
    min-height: 100vh;
}

.image-1 { background-image: url("/static/images/background/1.jpg"); background-position-x: 40%; }
.image#about  { background-image: url("/static/images/background/about.jpg"); }
.image#social { background-image: url("/static/images/background/social1.jpg"); }
.image#join { background-image: url("/static/images/background/join.jpg"); background-position-x: 80%; }
.image#invite { background-image: url("/static/images/background/invite.jpg"); }
.image#partners { background-image: url("/static/images/background/partners.jpg"); }
.image#questions { background-image: url("/static/images/background/questions.jpg"); background-position-x: 75%; }

.rules-header {
    height: 200px;
    background: #000;
}

@keyframes onwave {
    from { top: 0px; }
    50%  { top: 25px; }
    to   { top: 0px; }
}

.scroll-down-icon {
    width: 50px;
    top: 0px;
    position: relative;
    animation: onwave 1s infinite ease-in-out;
}

@media (max-width: 880px) {
    #socials, #partners { height: auto; }
}

@media (max-width: 1350px) {
    #about { height: auto; }
}

@media (min-width: 1180px) {
    .socials, .partners { width: 1180px; }
}

@media (min-width: 1480px) {
    .socials, .partners { width: 100%; }
}